In [34]:
import pandas as pd

In [35]:
one_bedroom_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='Table 1, Chart 2',
                            header=4,
                            nrows=19,
                            index_col=0)
two_bedroom_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='Table 2, Chart 4',
                            header=4,
                            nrows=19,
                            index_col=0)
three_bedroom_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='Table 3, Chart 6',
                            header=4,
                            nrows=19,
                            index_col=0)
four_bedroom_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='Table 4, Chart 8',
                            header=4,
                            nrows=19,
                            index_col=0)
shared_bedroom_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='Table 5, Chart 10',
                            header=4,
                            nrows=19,
                            index_col=0)

In [36]:
#Data for median an quartiles for Aberdeen and Aberdeenshire
m_one_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='BRMA Profile - A',
                            header=13,
                            usecols="A:Q",
                            nrows=4,
                            index_col=0)
m_two_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='BRMA Profile - A',
                            header=35,
                            usecols="A:Q",
                            nrows=4,
                            index_col=0)
m_three_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='BRMA Profile - A',
                            header=57,
                            usecols="A:Q",
                            nrows=4,
                            index_col=0)
m_four_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='BRMA Profile - A',
                            header=79,
                            usecols="A:Q",
                            nrows=4,
                            index_col=0)
m_shared_df=pd.read_excel('private-sector-rent-stats-scotland-nov-2023.xlsx',
                            sheet_name='BRMA Profile - A',
                            header=101,
                            usecols="A:Q",
                            nrows=4,
                            index_col=0)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2022 - 2023,2010 - 2023
Lower Quartile,500.00,500.00,520.00,550.00,625.00,625.00,510.00,450.00,425.00,425.00,400.0,400.00,425.00,475.0,0.117647,-0.050000
Median,525.00,550.00,550.00,600.00,650.00,675.00,550.00,500.00,470.00,450.00,450.0,450.00,450.00,515.0,0.144444,-0.019048
Mean,528.64,540.49,555.25,600.18,663.52,666.96,565.87,500.65,472.58,470.17,457.3,455.14,468.92,518.4,0.105519,-0.019370
Upper Quartile,575.00,575.00,600.00,650.00,725.00,700.00,600.00,550.00,500.00,500.00,495.0,495.00,500.00,550.0,0.100000,-0.043478